{% load static %}
{% block content %}
{% include 'header.html' %}
    
   
    <div class="card shadow-2-strong card-registration" style="border-radius: 15x;">

        <h1 class="display-4 text-uppercase text-center mt-5 mb-5">ASHA REGISTRATION</h1>
        <div>
            <div class="contact-form bg-white rounded p-5">
                <div class="mt-4 pt-2" align="right">
                    <a href="aacview" class="nav-item nav-link"><input class="btn btn-danger btn-lg" type="submit" value="VIEW ALL" style="height:55px; width:125px"  name="submit"/></a>
                </div><br>
                <form method="POST" action="aregisters">
                    {% csrf_token %}
                    <div class="form-row">
                        <div  class="col-md-12">
                            <div class="control-group">
                                <label class="form-label" for="lastName">Name</label>
                                <input type="text" class="form-control form-control-lg"  id=""  name="name" required/>
                              
                            </div>
                        </div>
                        <div  class="col-md-12">
                            <div class="control-group">
                                <label class="form-label" for="lastName">Address</label>
                                <input type="text" class="form-control form-control-lg"  id=""  name="address" required/>
                              
                            </div>
                        </div>
                        
                    </div>
                    <div class="control-group">
                        <label class="form-label" for="lastName">Phone Number</label>
                        <input type="text" pattern="[0-9]{10}" title="enter 10 digits " class="form-control form-control-lg"  id="" name="number" required/>
                        
                    </div>
                    <div class="control-group">
                        <label class="form-label" for="lastName">Ward Number</label>
                        <input type="text" class="form-control form-control-lg"  id="" name="ward_number" required/>
                        
                    </div>
                    
                    <div class="control-group">
                        <label class="form-label" for="lastName">Work Place</label>
                        <input type="text" class="form-control form-control-lg"  id="" name="work_place" required/>
                        
                    </div>
                    <div class="control-group">
                        <label class="form-label" for="lastName">Panchayat</label>
                        <input type="text" class="form-control form-control-lg"  id="" name="panchayat" required/>
                        
                    </div>
                    <div class="control-group">
                        <label class="form-label" for="lastName">Email</label>
                        <input type="email" class="form-control form-control-lg"  id="" name="email" required/>
                        
                    </div>
                    <div class="control-group">
                        <label class="form-label" for="lastName">Password</label>
                        <input type="text" class="form-control form-control-lg"  id="" name="password"pattern="\d+" title="Password must contain only numbers"  required="required" data-validation-required-message="Please enter a Password"/>
                        
                    </div>
                    <div class="mt-4 pt-2" >
                        <input class="btn btn-primary btn-lg" type="submit" value="REGISTER"  name="submit"/>
                      </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    {% endblock %}
