{% load static %}
{% block content %}
{% include 'header.html' %}



    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Services</h1>
            <div class="row">
                <div class="col-lg-3 mb-2">
                    <div class="service-item rounded p-5 mb-4">
                        <i class="fa fa-3x fas fa-hands text-primary mb-4"></i>
                        <h4 class="text-uppercase mb-4">Immunisation<span class="d-block text-body"></span></h4>
                        <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="service-item rounded p-5 mb-4">
                        <i class="fa fa-3x far fa-plus-square text-primary mb-4"></i>
                        <h4 class="text-uppercase mb-4">Corona Care<span class="d-block text-body"></span></h4>
                        <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="service-item rounded p-5 mb-4">
                        <i class="fa fa-3x fas fa-stethoscope text-primary mb-4"></i>
                        <h4 class="text-uppercase mb-4">Health Awareness<span class="d-block text-body"></span></h4>
                        <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="service-item rounded p-5 mb-4">
                        <i class="fa fa-3x fas fa-female text-primary mb-4"></i>
                        <h4 class="text-uppercase mb-4">Care For Pregnant Ladies<span class="d-block text-body"></span></h4>
                        <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->



    {% include 'footer.html' %}
    {% endblock %}